


.navbar-brand {
  font-size: 28px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: brown !important;
}

.nav-link {
  color: brown !important;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tm-container {
  background-color: white;
  max-width: 1400px;
}

.tm-site-title {
  color: brown;
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.tm-site-subtitle {
  color: #0083bf;
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 700;
}

.tm-section-1 {
  height: 750px;
  background-image: url(../images/fordGt.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  /* background-position: center -95px; */
  background-repeat: no-repeat;
  padding-top: 75px;
}

.tm-bg-circle-white {
    background-color: white;
    color: #6c6c6c;
    padding: 75px 81px 75px 90px;
    border-radius: 50%;
    width: 550px;
    height: 550px;
  }

  .tm-bg-circle-pad-2 {
    padding-left: 120px;
  }

  .tm-section-icon {
    color:brown;
    margin-top: 8px;
  }

  .services{
    padding-top: 2rem;
  }

  .sticky-element{
    padding-top: 1rem;
  }
  .sticky-element h2{
    color: rgb(165, 42, 42);
    font-size: 48px;
    font-weight: 800;
  }

  .sticky-element h3{
    color: brown;
    font-size: 44px;
    font-weight: 800;
  }

  .card-deck{
    display: flex;
  }
  
  .card-title{
    color: brown !important;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;  
  }
  .card{
      background-color: #e4e1e1;
      border: none;
      border-radius: 0;
  }
  .card-text{
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .block{
      display: inline;
  }

 
.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #2f2f2f;
}

.listeV{
  padding-top: 5.2rem;
}

/*-- CSS PAGE ANNONCE  --*/
.tarif{
  color: rgb(124, 34, 34);
}
.tarif h3{
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 40px;
}
.tarif h4{
  font-size: 30px;
}

/*====================================PAGE ADMIN========================================*/

.admin {
  z-index: 999;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}
/*====================================Tableau ADMIN List========================================*/

@media (max-width: 700px) {
  .table thead {
    display: none;
  }
  .table tr {
    display: block;
    margin-bottom: 40px;
  }
  .table td {
    display: block;
    text-align: right;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
.action {
  width: 350px;
  text-align: center;
}

.help-inline{
  color: red;
}

.bordure{
  border-width:1px;
 border-style:solid;
 border-color:rgb(182, 177, 177);
}

/*================ login connexion ====================*/
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right i {
  font-size: 100px;
}


/*======== BANDEAU PRIX DE LA PAGE VIEW=============*/
.priceview {
  background: #5cb85c;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-shadow: 1px 1px #333;
  position: absolute;
  right: -8px;
  top: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
}
.priceview::before {
  border: 4px solid transparent;
  border-bottom: 4px solid #4a934a;
  border-left: 4px solid #4a934a;
  content: "";
  position: absolute;
  right: 1px;
  top: -8px;
}







@media (max-width: 576px) {
    .tm-bg-circle-white {
      border-radius: 100px;
      width: 100%;
      height: auto;
      padding: 50px;
    }
  
    img {
      max-width: 100%;
    }
  
    .tm-section-1 {
      height: auto;
    }
  
    .tm-section-1 {
      padding-bottom: 90px;
      -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
      clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
    }
  
    
  
    .tm-circle-img-container {
      margin-bottom: 30px;
    }
  }
  
  
/*======================== BOUTONS VOIR L'ANNONCE DES CARDS =========================*/

  .button{
    
    /*display:inline-block;*/
    margin:20px;
    
    
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:18px;
    text-align: center;
    text-decoration:none;
    background-color:#a5682a;
    display:block;
    position:relative;
    padding: 4px 8px;
    
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #663a00;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #663a00;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #663a00;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#a5682a;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #663a00;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #663a00;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #663a00;
  }
  
  

  
  